### Spring Boot ###
HELP.md
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/
*.iml
*.iws
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### 환경변수 파일 (절대 커밋 금지) ###
application-dev.yml
application-prod.yml
application-local.yml
.env

### 로그 ###
*.log
logs/

### 인프라 폴더 (커밋 금지) ###
onjeom-infra/
